main
{
    max-width: 800px;
    margin: 0 auto;
}

*:disabled
{
    background-color: darkgoldenrod;
}

*:required
{
    border-color: red;
    /* background-color: rgba(255,0,0, 0.1); */
    background-color: rgb(255, 239, 239);
}

.form-group.required label::before
{
    content: "! ";
    color: red;
    font-weight: bold;
}

#success
{
    background-color: greenyellow;
    font-weight: bold;
    display: none;
}

#css-effect
{
    position: relative;
    display: inline-block;
}

#css-effect::before
{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 5px;
    background-color: red;
    transition: all 500ms ease-in-out;
}

#css-effect::after
{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 5px;
    background-color: green;
    transition: all 500ms ease-in-out;
}

#css-effect:hover::before,
#css-effect:hover::after
{
    width: 100%;
}